*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family:"futura-pt", Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    /* margin: 0; */
    margin-left: auto;
    margin-right: auto;
} 

h1 {
    font-size: 5rem;
    max-width: 13ch;
}
div {
    display: block;
    unicode-bidi: isolate;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

/* .container {
    --max-width: 50rem;
    width: min(100% - 3rem, var(--max-width));
    margin-inline-start: auto;
} */

nav{
    background-color: aliceblue;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.10);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: left;
}
nav li {
    display: inline-block;
}
nav li:hover {
    background: #444;
}
nav a {
    color: #444;
    text-decoration: none;
    display: block;
    padding: .75em 1em;
   
}

.more-dropdown a{
    color: rgb(255, 105, 46);
}

nav li:hover a{
    color: #fff;
}
.menu-sub {
    left: 0;
    position: absolute;
    background: #444;
    color: #fff;
    width: 100vw;
    display: none;
}
nav li:hover .menu-sub {
    display: block;
}

.menu-row-1, .menu-row-2{
    display: inline-block;
    padding: .75em 1.75em;
    margin-top: 1em;


}
.menu-row-1 ul, .menu-row-2 ul {
    float: left;
    margin: 0;
    padding: 0;
    left: -1vw;
}
.menu-row-1 li{
    float: left;
    @media (max-width: 768px) {
        float: none;
        display: block;
    }
}
.menu-row-2 li{
    float: left;
    width: 25%;
    @media (max-width: 768px) {
        float: none;
        display: block;
        width: 100%;
    }
    /* padding: 0 0 4em 1.75em; */
}
.menu-row-2 span{
font-weight: 700;
}
.menu-row-2 li p{
    width: 90%;
}

 
header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10rem 10rem;
    height: 90vh;
    background-image: url('/assets/engineerrr.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        height: 90vh;
    }
}


header h1 {
    font-size: 6vw;
    font-weight: 500;
    color: hsl(24, 100%, 50%);
    text-align: center;

    @media (max-width: 768px) {
        font-size: 16vw;
    }
}


main {
}

.article {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8.33333vw;
    font-size: 1.675rem;

    @media (max-width: 768px) {
        width: 80vw;
    }
}

.article p:first-of-type{
    font-weight: 500;
    /* letter-spacing: 0.095ch; */
}

.article p:first-of-type a{
    font-weight: 500;
    color: hsl(235, 100%, 50%);
}

.article p:nth-of-type(2), .article p:nth-of-type(3){
    font-weight: 300;
    font-size: 1.3rem;
}

.collage, .about-collage {
    display: block;
    position: relative;
    padding-top: 8.33333vw;
    padding-bottom: 8.33333vw;
    margin-bottom: 8.33333vw;
}

.lemonade-bg {
    position: absolute;
    top: 0;
    width: 58.33333vw;
    height:  58.33333vw;
    left: 41.66667vw;
    background-color: hsl(63, 100%, 83%);
}
.about-collage .big-photo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 41.66667vw;
    height: 41.66667vw;
    margin-left: 8vw;
    background-image: url('../assets/engineerr.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; 
}
.about-collage .small-photo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 31.66667vw;
    height: 21.66667vw;
    margin-left: 8vw;
    background-image: url('../assets/engineer.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.video-canvas{
    width: 50vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8.33333vw;
    background-color: hsl(70, 90%, 85%);
    background-size: cover;
    @media (max-width: 768px) {
        padding-top: -50%;
        width: 80vw;
        height: 40vw;
        margin-bottom: 8.33333vw;
    }
}

.video-canvas .video-img {
    display: flex;
    justify-content:center;
    height: 30vw;
    background-image: url('../assets/ab-eng.jpg'); 
    background-size: cover;
    left: 0;
}

.video-img .video-img-inner {
    display: flex;
    justify-content:center;
    align-items: center;
}

.video-img .icon-circle {
    height: 5vw;
    width: 5vw;
    background-color: hsl(235, 100%, 50%);
    border-radius: 50%;
}

.video-img .play-icon {
    display: inline-block;
    position: absolute;    
    margin: 0;
}

.video-img .play-icon svg{
    /* display: inline-block;
    position: absolute;  */
    height: 3vw;
    width: 3vw;
}
.video-caption {
    margin-left: 3%;
    font-size: 1.4vw;
    font-weight: 500;
    @media (max-width: 768px) {
        font-size: 3vw;
        font-weight: 600;
        
    }
}

.neon-bg{
    position:absolute;
    top:0;
    width: 58.33333vw;
    height: 80.33333vw;

    background-color: hsl(109, 100%, 86%);
}

.left-photo-1{
    display: block;
    position: relative;
    width: 33.66667vw;
    height: 28.66667vw;
    margin-left: 8vw;
    margin-bottom: 6vw;
    background-image: url('../assets/ab-eng.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; 
}

.left-photo-2{
    display: block;
    position: relative;
    width: 33.66667vw;
    height: 28.66667vw;
    margin-left: 8vw;
    background-image: url('../assets/guitars.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; 
}

.right-photo{
    display: inline-block;
    position:absolute;
    width: 41.66667vw;
    height: 41.66667vw;
    /* vertical-align: middle; */
    top: 18vw;;
    margin-left: 48vw;
    background-image: url('../assets/engineerrr.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; 
}

.video-canvas-2 {
    display: block;
    width: 80vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28.33333vw;
    background-color: hsl(70, 90%, 85%);
    background-size: cover;
    @media (max-width: 768px) {
        width: 98vw;
        height: 40vw;
        margin-bottom: 24.33333vw;
    }
}

.video-canvas-2 .video-img-2 {
    display: flex;
    justify-content:center;
    height: 50vw;
    background-image: url('../assets/ab-eng.jpg'); 
    background-size: cover;
    left: 0;
}


.video-img-2 .video-img-inner-2 {
    display: flex;
    justify-content:center;
    align-items: center;
}

.video-img-2 .icon-circle {
    height: 5vw;
    width: 5vw;
    background-color: hsl(235, 100%, 50%);
    border-radius: 50%;
}

.video-img-2 .play-icon-2 {
    display: inline-block;
    vertical-align: middle;
    position: absolute;    
    margin: 0;
}

.video-img-2 .play-icon-2 svg{
    /* display: inline-block;
    position: absolute;  */
    vertical-align: middle;
    height: 3vw;
    width: 3vw;
}
.video-caption-2 {
    /* margin-left: 0%; */
    font-size: 1.4vw;
    font-weight: 500;
    @media (max-width: 768px) {
        font-size: 3vw;
        font-weight: 600;
        
    }
}


.collage-3{
    position: relative;
    display: block;
    padding-top: 8.33333vw;
    padding-bottom: 8.33333vw;
    margin-bottom: 8.33333vw;
}

.purple-bg {
    position: absolute;
    top: 0.5vw;
    left: 0;
    right: 0;
    margin: auto;
    /* vertical-align: middle; */
    width: 61.66667vw;
    height: 61.66667vw;
    /* padding-top: 50vw; */
    background-color: hsl(267, 100%, 85%);
}



.collage-3 .big-photo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 41.66667vw;
    height: 41.66667vw;
    margin-top: 2vw;
    margin-left: 8vw;
    background-image: url('../assets/engineerr.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; 
}
.collage-3 .small-photo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 31.66667vw;
    height: 21.66667vw;
    margin-top: 2vw;
    margin-left: 8vw;
    background-image: url('../assets/engineer.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}

.jobs {
    position: relative;
    /* display: block; */
    /* padding-top: 8.33333vw;
    padding-bottom: 8.33333vw; */
    /* margin-bottom: 8.33333vw; */
    width: 80vw;
    height: 40vw;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 8vw;
    background-color: hsl(107, 100%, 85%);
    
}
.jobs .jobs-photo {
    display: inline-block;
    width: 40vw;
    height: 40vw;
    box-sizing: border-box;
    background-image: url('../assets/engineer.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @media (max-width: 768px) {
        display: block;
        width: 80vw;
        height: 80vw;
        margin-bottom: 8.33333vw;
    }
}
.jobs .jobs-copy {
    display: inline-block;
    position:absolute;
    width: 40vw;
    height: 40vw;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 1rem;
    padding: 5vw;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    /* padding-top: 50vw; */
    background-color: hsl(225, 100%, 85%);
    @media (max-width: 768px) {
        margin-top: -11%;
        display: inline-block;
        width: 80vw;
        height: 40vw;
        margin-bottom: 8.33333vw;
        padding: 10vw;
        font-size: 0.7em;
    }
}
.jobs-copy-text{
    position: relative;
    margin-top: -5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jobs-copy a{
    text-decoration: none;
}